/* פונט רגיל */
@font-face {
  font-family: 'FbAsparagos';
  src: url('/fonts/FbAsparagos-Regular.otf') format('opentype');
  font-weight: normal;
}

/* פונט עבה - שם שונה לגמרי כדי שלא יהיה ספק */
@font-face {
  font-family: 'FbAsparagosBold';
  src: url('/fonts/FbAsparagos-Bold.otf') format('opentype');
  font-weight: bold;
}

/* פונט אנגלית */
@font-face {
  font-family: 'FbRimonaEng';
  src: url('/fonts/FbRimonaEng-Regular.otf') format('opentype');
}

/* הגדרת ברירת מחדל לכל האתר */
body {
  font-family: 'FbAsparagos', sans-serif;
  direction: rtl;
}

/* ביטול הגדרות דורסניות של דפדפנים לקישורים */
a, button {
  font-family: inherit;
}
